@media screen and (-webkit-min-device-pixel-ratio:0) {
	
	
	/*  Header & Breadcrubms
	------------------------------------------------------------------------------------------------------ */
	
	#header {
		background: -webkit-gradient(linear, left top, left bottom, to(#C4C4C4), from(#CCC));
	}
	div.breadcrumbs {
		background: -webkit-gradient(linear, left top, left bottom, to(#191919), from(#242424));
	}
	
	
	/*  Object Tools
	------------------------------------------------------------------------------------------------------ */
	
	.object-tools a:link, .object-tools a:visited {
		background: -webkit-gradient(linear, left top, left bottom, to(#222), from(#2E2E2E));
	}
	.object-tools a:hover, .object-tools a:active {
		background: -webkit-gradient(linear, left top, left bottom, to(#4064CF), from(#5272D4));
	}
	
	.object-tools a.focus:link, .object-tools a.focus:visited {
		background: -webkit-gradient(linear, left top, left bottom, to(#444), from(#C4C4C4));
	}
	.object-tools a.focus:hover, .object-tools a.focus:active {
		background: -webkit-gradient(linear, left top, left bottom, to(#4064CF), from(#5272D4));
	}
	
	
	/*  Modules
	------------------------------------------------------------------------------------------------------ */
	
	.module > h2, .module caption, 
	.inline-group h2,
	.inline-related h2 {
		background-image: -webkit-gradient(linear, left top, left bottom, to(#111), from(#1B1B1B));
	}
	
	
	/*  Forms
	------------------------------------------------------------------------------------------------------ */
	
	input[type=submit], input[type=button], button {
		background: -webkit-gradient(linear, left top, left bottom, to(#1A2853), from(#24315B));
	}
	input[type=submit].default, button.default {
		background: -webkit-gradient(linear, left top, left bottom, to(#4064CF), from(#5272D4));
	}
	.submit-row a.deletelink:link, .submit-row a.deletelink:visited {
		background: -webkit-gradient(linear, left top, left bottom, to(#CF4040), from(#D45252));
	}
	.submit-row a.cancellink:link, .submit-row a.cancellink:visited {
		background: -webkit-gradient(linear, left top, left bottom, to(#222), from(#2E2E2E));
	}
	input[type=submit]:hover, input[type=submit]:active, 
	input[type=submit].default:hover, input[type=submit].default:active, 
	input[type=button]:hover, input[type=button]:active, 
	button:hover, button:active, 
	.submit-row a.deletelink:hover, .submit-row a.deletelink:active, 
	.submit-row a.cancellink:hover, .submit-row a.cancellink:active { 
		background: -webkit-gradient(linear, left top, left bottom, to(#BBB), from(#C4C4C4));
	}
	
	
	/*  Tables
	------------------------------------------------------------------------------------------------------ */
	
	thead th,
	tfoot td {
		background-image: -webkit-gradient(linear, left top, left bottom, to(#111), from(#1A1A1A));    
	}
	thead th.sorted {
		background-image: -webkit-gradient(linear, left top, left bottom, to(#1F1F1F), from(#111));    
	}
	
	
	/*  Changelist
	------------------------------------------------------------------------------------------------------ */
	
	#changelist .actions {
		background-image: -webkit-gradient(linear, left top, left bottom, to(#111), from(#1B1B1B));
	}
	#changelist .actions:first-child {
		-webkit-border-top-left-radius: 4px;
		-webkit-border-top-right-radius: 4px;
	}
	.paginator {
		-webkit-border-bottom-left-radius: 4px;
		-webkit-border-bottom-right-radius: 4px;
		background-image: -webkit-gradient(linear, left top, left bottom, to(#111), from(#1B1B1B));
	}
	#changelist .filterset h3.form-row {
		background-image: -webkit-gradient(linear, left top, left bottom, to(#0A0F1F), from(#121727));
	}
	#changelist .filterset h3.form-row:hover, 
	#changelist .filterset.collapse-open h3.form-row {
		background-image: -webkit-gradient(linear, left top, left bottom, to(#1A2547), from(#141C35));
	}
	
	/*  Change-Forms (Fieldsets, Inline-Group, Inline-Stacked)
	------------------------------------------------------------------------------------------------------ */
	
	fieldset.collapse-closed h2.collapse-toggle {
		background-image: url('../img/icons/icon_fieldset_collapse-closed.png'),
		-webkit-gradient(linear, left top, left bottom, to(#0A0F1F), from(#121727));
	}
	fieldset.collapse-closed h2.collapse-toggle:hover, 
	fieldset.collapse-open h2.collapse-toggle {
		background-image: url('../img/icons/icon_fieldset_collapse-open.png'),
		-webkit-gradient(linear, left top, left bottom, to(#1A2547), from(#141C35));
	}
	
	.inline-group.collapse-closed h2.collapse-toggle {
		background-image: url('../img/icons/icon_fieldset_collapse-closed.png'),
		-webkit-gradient(linear, left top, left bottom, to(#0A0F1F), from(#121727));
	}
	.inline-group.collapse-closed h2.collapse-toggle:hover, 
	.inline-group.collapse-open h2.collapse-toggle {
		background-image: url('../img/icons/icon_fieldset_collapse-open.png'),
		-webkit-gradient(linear, left top, left bottom, to(#1A2547), from(#141C35));
	}
	
	.inline-related.collapse-closed h3.collapse-toggle {
		background-image: url('../img/icons/icon_fieldset_collapse-closed.png'),
		-webkit-gradient(linear, left top, left bottom, to(#1B0A10), from(#221218));
	}
	.inline-related.collapse-closed h3.collapse-toggle:hover, 
	.inline-related h3.collapse-toggle {
		background-image: url('../img/icons/icon_fieldset_collapse-open.png'),
		-webkit-gradient(linear, left top, left bottom, to(#3C1C27), from(#35141F));
	}
		
	.inline-stacked .predelete.collapse-closed h3 {
		background-image: url('../img/icons/icon_fieldset_collapse-closed.png'),
		-webkit-gradient(linear, left top, left bottom, to(#2929OD), from(#333317)) !important;
	}
	.inline-stacked .predelete h3, 
	.inline-stacked .predelete.collapse-closed h3:hover {
		background-image: url('../img/icons/icon_fieldset_collapse-open.png'),
		-webkit-gradient(linear, left top, left bottom, to(#333317), from(#29290D)) !important;
	}
	
	
	/*  Calendarbox & Clockbox
	------------------------------------------------------------------------------------------------------ */
	
	.module .calendar caption, .module .calendarbox h2, .module .clockbox h2 {
		background-image: -webkit-gradient(linear, left top, left bottom, to(#BBB), from(#C4C4C4)) !important;
	}
	a.calendarnav-previous {
		background-image: url('../img/icons/icon-calendarnav_previous.png'), 
		-webkit-gradient(linear, left top, left bottom, to(#BBB), from(#C4C4C4));
	}
	a.calendarnav-next {
		background-image: url('../img/icons/icon-calendarnav_next.png'), 
		-webkit-gradient(linear, left top, left bottom, to(#BBB), from(#C4C4C4));
	}
	a.calendarnav-previous:hover, a.calendarnav-previous:active {
		background-image: url('../img/icons/icon-calendarnav_previous.png'), 
		-webkit-gradient(linear, left top, left bottom, to(#4064CF), from(#5272D4));
	} 
	a.calendarnav-next:hover, a.calendarnav-next:active {
		background-image: url('../img/icons/icon-calendarnav_next.png'), 
		-webkit-gradient(linear, left top, left bottom, to(#4064CF), from(#5272D4));
	}
	.calendar-cancel {
		background-image: -webkit-gradient(linear, left top, left bottom, to(#BBB), from(#C4C4C4));
	}
	
	
}

