{% load mezzanine_tags sidebar staticfiles %}

<!-- Sidebar navigation -->
{# <div class="panel panel-default tree">{% page_menu 'pages/menus/tree.html' %}</div> #}

<!-- Tweets -->
{# {% ifinstalled mezzanine.twitter %} #}
	{# {% include 'twitter/tweets.html' %} #}
{# {% endifinstalled %} #}

<!-- Profile -->
<div class='panel panel-default'>
	<div class='panel-heading'>
		<h3 class='panel-title'>{% about 'title' %}</h3>
	</div>				
	<div class='panel-body'>
		<img src="{% static 'media/uploads/face.jpg' %}" alt="{% about 'imgalt' %}" style="width:50%;float:right;border-radius:50%;border:2px solid #2c3e50">
		<p>{% about 'text' as text %} {{text|richtext_filters|safe}}<p>
	</div>	
</div>
