.form-group > input[type="text"],
.form-group > input[type="password"],
.form-group > input[type="datetime"],
.form-group > input[type="datetime-local"],
.form-group > input[type="date"],
.form-group > input[type="month"],
.form-group > input[type="time"],
.form-group > input[type="week"],
.form-group > input[type="number"],
.form-group > input[type="email"],
.form-group > input[type="url"],
.form-group > input[type="search"],
.form-group > input[type="tel"],
.form-group > input[type="color"],
.form-group > select,
.form-group > textarea {
	max-width: 100% !important;
}

  .scriptonly {display:none;}

/* MOBILE */
@media (max-width: 768px) {
	.navbar-collapse { width:100vw; }
	.mobile { display: block; }
	.desk-nav { display:none }
	.mobile-nav { display:block }
}

/* DESKTOP */
@media (min-width:768px) {
	.desk-nav { display:block }
	.mobile-nav { display:none }
	.navbar-collapse { width:100vw; }
	.mobile { display: none; }
/*
	.container {
		width: 100% !important;
		max-width: 1050px;
	}
*/
}

/* .col-xxs for small phones
/* FROM http://stackoverflow.com/a/24070176/3006854 */

.col-xxs-1, .col-xxs-2, .col-xxs-3, .col-xxs-4,
.col-xxs-5, .col-xxs-6, .col-xxs-7, .col-xxs-8,
.col-xxs-9, .col-xxs-10, .col-xxs-11, .col-xxs-12 {
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

@media (max-width: 550px) and (min-width: 0px) {
	.col-xxs-1,
	.col-xxs-2,
	.col-xxs-3,
	.col-xxs-4,
	.col-xxs-5,
	.col-xxs-6,
	.col-xxs-7,
	.col-xxs-8,
	.col-xxs-9,
	.col-xxs-10,
	.col-xxs-11 {
		float: left !important;
	}

	.col-xxs-1 {
    width: 8.333333333333332% !important;
  }
	.col-xxs-2 {
		width: 16.666666666666664% !important;
	}
	.col-xxs-3 {
		width: 25% !important;
	}
	.col-xxs-4 {
		width: 33.33333333333333% !important;
	}
	.col-xxs-5 {
		width: 41.66666666666667% !important;
	}
	.col-xxs-6 {
		width: 50% !important;
	}
	.col-xxs-7 {
		width: 58.333333333333336% !important;
	}
	.col-xxs-8 {
		width: 66.66666666666666% !important;
	}
	.col-xxs-9 {
		width: 75%;
	}
	.col-xxs-10 {
		width: 83.33333333333334% !important;
	}
	.col-xxs-11 {
		width: 91.66666666666666% !important;
	}
	.col-xxs-12 {
		width: 100% !important;
	}
	.col-xxs-offset-1 {
		margin-left: 8.333333333333332% !important;
	}
	.col-xxs-offset-2 {
		margin-left: 16.666666666666664% !important;
	}
	.col-xxs-offset-3 {
		margin-left: 25% !important;
	}
	.col-xxs-offset-4 {
		margin-left: 33.33333333333333% !important;
	}
	.col-xxs-offset-5 {
		margin-left: 41.66666666666667% !important;
	}
	.col-xxs-offset-6 {
		margin-left: 50% !important;
	}
	.col-xxs-offset-7 {
		margin-left: 58.333333333333336% !important;
	}
	.col-xxs-offset-8 {
		margin-left: 66.66666666666666% !important;
	}
	.col-xxs-offset-9 {
		margin-left: 75% !important;
	}
	.col-xxs-offset-10 {
		margin-left: 83.33333333333334% !important;
	}
	.col-xxs-offset-11 {
		margin-left: 91.66666666666666% !important;
	}
} 
