body {
	font-size: 1.3em;
	margin: 5vw;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#main {
	max-width: 900px;
	margin: auto;
}

#sidebar {
	max-width: 400px;
	margin: auto;
}
#sidebar p {
	float: left;
	width: 50%;
}
#sidebar img {
	border-radius: 50%;
	width: 50%;
	max-width: 200px;
	float: left;
}

@media (min-width: 950px) {
	#main {
		width: 70%
	}
	#sidebar {
		width: 25%;
		margin: 0;
	}
}

#submission, 
#buyer-email,
#buy-btn {
	width: 100%;
}

footer {
	text-align: center;
}