/* LAYOUT */

body {
	margin: 5vw;
}

main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#main {
	max-width: 900px;
	margin: auto;
}

#sidebar {
	max-width: 400px;
	margin: auto;
}
#sidebar img {
	border-radius: 50%;
	width: 50%;
	max-width: 200px;
	float: right;
}

@media (min-width: 950px) {
	#main {
		width: 70%
	}
	#sidebar {
		width: 25%;
		margin: 0;
	}
}

textarea#submission, 
button#buy-btn {
	width: 100%;
}

footer {
	text-align: center;
}

/* THEME */
body, input, button, textarea {
	background: #222;
	color: #eee;
}
p {
	font-size: 1.3em;
	font-family: sans-serif;
}
input {
	border-width: 1px;
	font-size: 1em;
}
button {
	cursor: pointer;
	background: #333;
	font-size: 1.4em;
	padding: 20px;
	border-radius: 10px;
	border-width: 1px;
}
button:hover {
	background: #111;
}
button:active {
	border-width: 2px;
}