<!doctype html>
<html lang="{{LANGUAGE_CODE}}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load theme pages_tags blog_tags mezzanine_tags i18n staticfiles %}

	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
		<meta name="description" content="{% block meta_description %}{% endblock %}">
		<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{settings.SITE_TITLE}}{% endif %}</title>
		
		<link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/icon/apple-icon-57x57.png' %}">
		<link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/icon/apple-icon-60x60.png' %}">
		<link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/icon/apple-icon-72x72.png' %}">
		<link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/icon/apple-icon-76x76.png' %}">
		<link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/icon/apple-icon-114x114.png' %}">
		<link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/icon/apple-icon-120x120.png' %}">
		<link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/icon/apple-icon-144x144.png' %}">
		<link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/icon/apple-icon-152x152.png' %}">
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/icon/apple-icon-180x180.png' %}">
		<link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/icon/android-icon-192x192.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/icon/favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/icon/favicon-96x96.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/icon/favicon-16x16.png' %}">
		<link rel="shortcut icon" type="image/ico" sizes="16x16" href="{% static 'img/icon/favicon.ico' %}">
		<link rel="manifest" href="{% static 'manifest.json' %}">
		<meta name="msapplication-TileColor" content="#2c3e50">
		<meta name="msapplication-TileImage" content="{% static 'img/icon/ms-icon-144x144.png' %}">
		<meta name="theme-color" content="#2c3e50">
		
		{% ifinstalled mezzanine.blog %}
			<link rel="alternate" type="application/rss+xml" title="RSS" href="{% url 'blog_post_feed' 'rss' %}">
			<link rel="alternate" type="application/atom+xml" title="Atom" href="{% url 'blog_post_feed' 'atom' %}">
		{% endifinstalled %}

		{% compress css %}

			<link rel="stylesheet" href="{% static 'css/overrides.css' %}">
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/latest/{%bootswatch%}/bootstrap.min.css">
			<link rel="stylesheet" href="{% static 'css/mezzanine.min.css' %}">
			{% if LANGUAGE_BIDI %}
				<link rel="stylesheet" href="{% static 'css/bootstrap-rtl.min.css' %}">
			{% endif %}
			{% ifinstalled cartridge.shop %}
				<link rel="stylesheet" href="{% static 'css/cartridge.css' %}">
				{% if LANGUAGE_BIDI %}
					<link rel="stylesheet" href="{% static 'css/cartridge.rtl.css' %}">
				{% endif %}
			{% endifinstalled %}
			
		{% block extra_css %}{% endblock %}
		{% endcompress %}

		{% compress js %}
			<script src="{% static 'mezzanine/js/'|add:settings.JQUERY_FILENAME %}"></script>
			<script src="{% static 'js/bootstrap.js' %}"></script>
			<script src="{% static 'js/bootstrap-extras.js' %}"></script>
		{% block extra_js %}{% endblock %}
		{% endcompress %}

		<!--[if lt IE 9]>
			<script src="{% static 'js/html5shiv.js' %}"></script>
			<script src="{% static 'js/respond.min.js' %}"></script>
		<![endif]-->

	{% block extra_head %}{% endblock %}
	</head>

	<body id='{% block body_id %}body{% endblock %}'>

		<!-- Topbar --->
		<header class='navbar navbar-default navbar-fixed-top' role="navigation"><div class='container'>
			
			<div class='navbar-header'>
				
				<button type="button" class='navbar-toggle' data-toggle="collapse" data-target=".navbar-collapse">
					<span class='sr-only'>{% trans 'Toggle Navigation' %}</span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
				</button>
				
				{% block navbar_title %}
					{% if settings.SITE_TITLE %}<a class='navbar-brand' href="/">{{settings.SITE_TITLE}}</a>{% endif %}
					{% if settings.SITE_TAGLINE %}<p class='navbar-text visible-lg'>{{settings.SITE_TAGLINE}}</p>{% endif %}
				{% endblock%}

				<div class='mobile-nav' style="float:right">
					{% nevercache %}{% include 'includes/language_selector.html' %}{% endnevercache %}
				</div>
				
			</div>
			
			<nav class='navbar-collapse collapse' style="float:left">
				{% block navbar_dropdown_menu %}{% page_menu 'pages/menus/dropdown.html' %}{% endblock%}
			</nav>

			<div class='desk-nav' style="float:right">
				{% nevercache %}{% include 'includes/language_selector.html' %}{% endnevercache %}
			</div>

		</div></header>

		<!-- Title, messages, breadcrumbs --->
		<div class='container'>

			<noscript><style>
				@media (max-width:768px) {
					.navbar-toggle { display:none; }
					.nav.navbar-nav {
						color: #FFF;
						background-color: #2c3e50;
						border: 1px solid #1a242f;
					}
					.nav.navbar-nav li {
						text-align:center;
						float:right;
						width:32vw;
					}.nav.navbar-nav li:active {
						background-color: #1a242f;
					}
				}
			</style>
			<nav class='mobile'>
				{% page_menu 'pages/menus/dropdown.html' %}
			</nav>
			</noscript>

			<h1>{% block title %}{% endblock %}</h1>
			
			{% nevercache %}
			{% if messages %}<div class='messages'>
				{% for message in messages %}
					<div class='alert alert-dismissable alert-{{message.tags}}' data-alert="alert">
						<button type="button" class='close' data-dismiss="alert" aria-hidden="true">&times;</button>
						{{message}}
					</div>
				{% endfor %}
			</div>{% endif %}
			{% endnevercache %}

			<!--<ul class="breadcrumb">{% spaceless %}
				{% block breadcrumb_menu %}{% page_menu 'pages/menus/breadcrumb.html' %}{% endblock %}
			{% endspaceless %}</ul>-->	

		</div>

		<!-- Main --->
		<main class='container'><div class='row'>
			
			<!-- Center column -->
			<div id='center-column' class='col-xxs-12 col-xs-6 col-sm-7 col-md-8 middle'>	
				{% block main %}{% endblock %}
			</div>

			<!-- Right column -->
			<aside class='col-xxs-12 col-xs-6 col-sm-5 col-md-4 right'>
			{% block right_panel %}

				{% include 'includes/sidebar.html' %}

				<!-- Recent posts -->
				<!--
				{% block blog_recent_posts %}
				{% blog_recent_posts 5 as recent_posts %}
				<div class='panel panel-default'>
					<div class='panel-heading'>
						<h3 class='panel-title'><a href="/blog">{% trans 'Recent blog posts' %}</a></h3>
					</div>
					<div class='panel-body'>
						{% if not recent_posts %}
							<p>No recent posts. </p>
						{% else %}
						<ul class='list-unstyled recent-posts'>
						{% for recent_post in recent_posts %}
						<li>
							{% spaceless %}
							<a href="{{recent_post.get_absolute_url}}">
								{{recent_post.title}}
							</a>
							{% endspaceless %}
						</li>
						{% endfor %}
						</ul>
						{% endif %}
					</div>
				</div>
				{% endblock %}
				-->

			{% endblock %}
			</aside>

		</div></main>

		<!-- Footer --->
		<footer class='panel panel-default' style="margin:0;padding:0"><div class='container panel-footer' style="margin:0;width:100%">

			<div class='row'>
				<p class='site-info text-center'>
					{% trans 'Website by' %}
					<a href="https://keithirwin.us">Keith Irwin</a>. 
					<br>{% trans 'Built with' %}
					<a href="http://mezzanine.jupo.org">Mezzanine</a>. 
					<br>{% trans 'Hosted on' %}
					<a href="https://uberspace.de">Uberspace</a>. 
				</p>
			</div>
		
		</div></footer>

		{% block footer_js %}
			{% include 'includes/footer_scripts.html' %}
		{% endblock %}

	</body>
</html>
